#p1{
font-size:15px;
background-color: #819FF7;
margin-right:900px ;
}

#p2{
font-size:15px;
background-color: #F6CEF5;
margin-right:900px;
}

.subs{
text-decoration:underline;
display:inline-block;
}

